timm
jedi==0.16
pytorch_lightning==1.9.5
transformers
accelerate
diffusers
setuptools==60.0.0
omegaconf
datasets
einops
webdataset
fsspec
s3fs
hydra-core
scikit-image
matplotlib
wandb
albumentations
bezier
scipy
Pillow
tqdm
huggingface_hub